@import '~antd/dist/antd.css';
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.ant-btn > span {
  display: inline-block;
}
.ant-btn>span {
  display: inline-block;
}
.ant-layout, .ant-layout * {
  box-sizing: border-box;
}
[class^=ant-], [class*= ant-], [class^=ant-] *, [class*= ant-] *, [class^=ant-] *::before, [class*= ant-] *::before, [class^=ant-] *::after, [class*= ant-] *::after {
  box-sizing: border-box;
}
.ant-layout, .ant-layout * {
  box-sizing: border-box;
}
[class*=ant-], [class*=ant-] *, [class*=ant-] :after, [class*=ant-] :before, [class^=ant-], [class^=ant-] *, [class^=ant-] :after, [class^=ant-] :before {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: border-box;
}
*, :after, :before {
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}
html{
  background-color: #f0f2f5;
}
body{
  font: 400 15px 'Roboto', sans-serif;
  color: #4E5361;
  background-color: #6B6A6A;
}

.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
  }

/* Content */

.site-layout-background{
 height: 100%;
}
.styleSidebar{
  height: 400px;
}

/* menu */
nav .logotype{
  background: #fff;
  display: flex;
  justify-content: center;
}
.logotype a {
 font-size: 40px;
 padding-bottom: 10px;
 border-bottom: 1px solid #7C869C;
}
nav .ant-menu .ant-menu-item .ant-menu-item-icon{
  font-size: 28px;
  color: #7C869C;
}
.styleSidebar nav ul.ant-menu{
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 80px;
  margin-top: -1px;
}
aside.styleSidebar{
  flex: 0 0 80px !important;
  max-width: 80px !important;
  min-width: 80px !important;
  width: 80px !important;
}

/* Button */

.ant-btn-primary {
    color: #fff;
    background: #1890ff;
    border-color: #1890ff;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}
.styleBtn{
  padding: 16px 24px !important;
  box-shadow: 0px 2px 8px 0px #00000126 !important;
  border-radius: 8px !important;
  background-color: #f0f2f5!important;
  border: 1px solid #B4CCE6 !important;
  text-align: center;
  align-items: center !important;
  display: flex !important;
  color: #5093E1;
}
.styleBtn span{
  color: #5093E1;
  font: 700 18px 'Roboto', sans-serif;
  line-height: 18px;
}

/* breadcrumb */

.ant-layout.ant-layout-has-sider>.ant-layout .site-layout-sub-header-background .ant-breadcrumb span{
  color: #5093E1;
  font: 400 14px 'Roboto', sans-serif;
  line-height: 14px;
  padding-top: 22px;
  cursor: pointer;
}
.ant-layout.ant-layout-has-sider>.ant-layout .site-layout-sub-header-background .ant-breadcrumb{
  padding-left: 22px;
}

/* Section top  */

.section-top{
  display: flex;
  flex-direction: column;
}
.section-top-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-top-content{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
}
.section-top-content .ant-menu-inline {
  width: 100%;
  display: flex;
}
.section-top-content .ant-menu-inline-collapsed {
  display: none;
}
.section-top-content .ant-menu-item{
  display: flex;
  flex-basis: 33.333%;
}
.section-top-content .ant-menu-inline > .ant-menu-item{
  height: auto;
}
.section-top-content .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: transparent;
}
.ant-menu-inline .ant-menu-item-selected::after{
  display: none;
}
.ant-select-multiple .ant-select-selection-item-content {
  padding-top: 3px;
}
.form-row .ant-select-multiple .ant-select-selection-item-remove > .anticon {
  vertical-align: -0.5em;
}

/* menu line */
.styleSidebar .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #fff;
}
.styleSidebar .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected .ant-menu-item-icon{
  color:#1890ff;
}
.styleSidebar nav .ant-menu-inline .ant-menu-item::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border-right: 3px solid #1890ff;
  transform: scaleY(0.0001);
  opacity: 0;
  transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  content: '';
}
.styleSidebar nav .ant-menu-inline .ant-menu-item-selected:before, .styleSidebar nav .ant-menu-inline .ant-menu-selected:before {
  transform: scaleY(1);
  opacity: 1;
  transition: transform .15s cubic-bezier(.645,.045,.355,1),opacity .15s cubic-bezier(.645,.045,.355,1);
}
.ant-menu-vertical.ant-menu-sub:not([class*='-active']){
  display: flex;
  flex-direction: row;
}
.form-filter-item .ant-picker-input input {
  padding-left: 0px;
}

/* Media */

@media screen and (max-width: 1046px){
  .styleSidebar {
    height: 0px;
    width: 0px;
  }
  nav .logotype {
    width: 69px;
  }
  .styleSidebar nav ul.ant-menu {
    width: 70px;
  }
}
@media screen and (max-width: 1040px){
  .styleSidebar nav ul.ant-menu{
      width: 70px;
  }
}

@media screen and (max-width: 1024px){
  .ant-menu-inline-collapsed > .ant-menu-item {
    padding: 0 calc(50% - 23px / 2) !important;
}

@media screen and (max-width: 991px){
  nav .ant-menu .ant-menu-item .ant-menu-item-icon {
      font-size: 26px;
  }

  .styleSidebar .ant-layout-sider-zero-width-trigger {
      display: none;
  }   
  .ant-layout.ant-layout-has-sider .ant-layout-sider-children{
      overflow: visible;
  }
  .ant-layout.ant-layout-has-sider > .ant-layout{
      margin-right: 12px;
  }
  .ant-layout.ant-layout-has-sider > .ant-layout {
      margin: 0px  8px;
  }  
  .site-layout-background {
    padding: 7px;
  }
}

@media screen and (max-width: 860px){
  .styleSidebar nav ul.ant-menu {
    padding-top: 10px;
  }
}

@media screen and (max-width: 580px){ 
  .ant-layout.ant-layout-has-sider>.ant-layout .site-layout-sub-header-background .ant-breadcrumb {
    padding-left: 0px;
  }
}

@media screen and (max-width: 480px){
  nav .logotype {
    width: 49px;
  }
  .styleSidebar nav ul.ant-menu {
    background-color: #fff;
    padding-top: 0px;
  }
  .styleSidebar nav ul.ant-menu {
    width: 50px;
}
.ant-layout.ant-layout-has-sider>.ant-layout .site-layout-sub-header-background .ant-breadcrumb{
  margin-left: -20px;
}
}

@media screen and (max-width: 422px){
  .site-layout-background {
    padding: 5px !important;
  }
}