@import '~antd/dist/antd.css';
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.ant-btn > span {
  display: inline-block;
}
.ant-btn>span {
  display: inline-block;
}
.ant-layout, .ant-layout * {
  box-sizing: border-box;
}
[class^=ant-], [class*= ant-], [class^=ant-] *, [class*= ant-] *, [class^=ant-] *::before, [class*= ant-] *::before, [class^=ant-] *::after, [class*= ant-] *::after {
  box-sizing: border-box;
}
.ant-layout, .ant-layout * {
  box-sizing: border-box;
}
[class*=ant-], [class*=ant-] *, [class*=ant-] :after, [class*=ant-] :before, [class^=ant-], [class^=ant-] *, [class^=ant-] :after, [class^=ant-] :before {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: border-box;
}
*, :after, :before {
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}
html{
  background-color: #f0f2f5;
}
body{
  font: 400 15px 'Roboto', sans-serif;
  color: #4E5361;
  background-color: #6B6A6A;
}

.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
  }
  .ant-layout .ant-layout-has-sider{
    height: 100vh;
}

/* AppHeader */

.header{
  font: 700 32px 'Roboto', sans-serif;
  line-height: 38px;
  letter-spacing: -0.2px;
  color: #4E5361;
}

/* Content */

.site-layout-background{
 height: 100%;
}
.styleSidebar{
  height: 400px ;
}

/* se4ctionTop */

.section-top{
  display: flex;
  flex-direction: column;
  padding-bottom: 33px;
}
.section-top-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.categoriesChecbox{
  display: flex;
  justify-content: space-between;
  background-color: #CDDAEA;
  flex: 0.8;
  padding: 14px 24px;
  box-shadow: 0px 2px 8px 0px #00000126;
  border-radius: 8px;
  color: #4E5361;
  font: 700 18px 'Roboto', sans-serif;
}
.ant-checkbox-group span,
.ant-checkbox-wrapper span {
  color: #7C869C;
  font: 400 15px 'Roboto', sans-serif;
  line-height: 18px;
}
.categoriesItem label{
  padding-left: 24px;
}
.categoriesAll{
  margin-right: 110px;
}
.categories-text{
  margin-right: 20px;
}

/* section bottom */
.section-bottom{
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 8px 0px #00000126;
}
.form-row .label-tag{
  background: #fff;
  border: none;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  padding: 0 0 8px;
}
.tag-form .ant-select{
  display: flex;
  flex-direction: column;
}

.form-row .ant-picker,
.form-row .ant-input,
.form-row .ant-select-selector{
  width: 100% !important;
  height: 32px;
  color: #5093E1;
  font: 500 15px 'Roboto', sans-serif;
  line-height: 18px;
}
.form-row #date-picker{
  color: #5093E1;
  font: 500 15px 'Roboto', sans-serif;
  line-height: 18px;
}
.form-row .ant-select-multiple .ant-select-selection-item {
  background: #5093E1;
  border: 1px solid #5093E1;
  color: #fff;
  border-radius: 8px;
}
.form-row .ant-select-multiple .ant-select-selection-item-remove{
  color: #fff;
}

/* form */

.form-style{
  display: flex;
  width: 100%;
}
.form-style form{
  width: 100%;
  padding: 26px 24px;
}
.form-style form .form-row{
  width: 70%;
}
.form-row{
  display:flex;
  flex-direction: row;
  width: 25%;
}
.form-style form .ant-form-item{
  width: 25%;
  padding-right: 20px;
}
.form-style form .form-textarea .ant-form-item {
  width: 100%;
}
.form-row .ant-form-text,
.form-row .ant-select-selection-item{
  color: #5093E1;
  font: 500 15px 'Roboto', sans-serif;
  line-height: 18px;
}
.form-row .ant-form-item-label label,
.form-row .tag-form .label-tag{
  color: #7C869C !important;
  font: 500 15px 'Roboto', sans-serif;
  line-height: 18px;
}
.tag-form{
  width: 25%;
  padding-right: 20px;
}
.form-button .form-button-submit{
  background-color: #5093E1;
  max-width: 230px;
  width: 24%;
  height: 50px;
  border: 1px solid #5093E1;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  font: 700 18px 'Roboto', sans-serif;
  line-height: 18px;
}

/* total */

.result{
  margin-left: 22px;
  color: #7C869C;
  font: 700 18px 'Roboto', sans-serif;
}
element.style {
  row-gap: 0px;
}
.form-style form .form-button .ant-form-item {
  width: 70%;
  margin-bottom: 0px;
}

/* change */
.exchange{
  background-color: #CDDAEA;
  box-shadow: 0px 2px 8px 0px #00000126;
  border: 1px solid #CDDAEA;
  border-radius: 8px;
  width: 54%;
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 24px 24px;
}
.exchange .input-grop{
  display: flex;
  flex-direction: row;
}
.caption-change{
  color: #7C869C;
  font: 700 20px 'Roboto', sans-serif;
  line-height: 24px;
}

.exchange .ant-form-item{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 22px;
  margin-bottom: 0px;
}
.exchange .input-txt-currency label{
  color: #7C869C;
  font: 700 15px 'Roboto', sans-serif;
}
.exchange .input-txt-currency input{
  color: #7C869C;
  font: 400 15px 'Roboto', sans-serif;
  border-radius: 5px;
}

/* menu */
nav .logotype{
  background: #fff;
  display: flex;
  justify-content: center;
}
.logotype a {
 font-size: 40px;
 padding-bottom: 10px;
 border-bottom: 1px solid #7C869C;
}
nav .ant-menu .ant-menu-item .ant-menu-item-icon{
  font-size: 28px;
  color: #7C869C;
}
.styleSidebar nav ul.ant-menu{
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 80px;
}
aside.styleSidebar{
  flex: 0 0 80px !important;
  max-width: 80px !important;
  min-width: 80px !important;
  width: 80px !important;
}

.form-style .ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  display: none ;
}
.form-style .ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::after {
  display: inline-block;
  margin-right: 4px;
  color: #5093E1;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: '*';
}
.form-style .ant-form-item-children-icon{
  display: none;
}

/* Textarea */

.form-textarea{
  width: 50%;
}
.form-row-bottom .form-textarea .ant-input{
  width: 100% !important;;
}

/* Button */


.ant-btn-primary {
    color: #fff;
    background: #1890ff;
    border-color: #1890ff;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}
.styleBtn{
  padding: 16px 24px !important;
  box-shadow: 0px 2px 8px 0px #00000126 !important;
  border-radius: 8px !important;
  background-color: #f0f2f5!important;
  border: 1px solid #B4CCE6 !important;
  text-align: center;
  align-items: center !important;
  display: flex !important;
  color: #5093E1;
}
.styleBtn span{
  color: #5093E1;
  font: 700 18px 'Roboto', sans-serif;
  line-height: 18px;
}

/* dropdown */

.ant-dropdown{
  left: 106px !important;
  top: 133px !important;
  width: 92% !important;
  background-color: #CDDAEA;
}
.ant-dropdown .ant-dropdown-menu {
  background: #CDDAEA;
}

/* breadcrumb */

.ant-layout.ant-layout-has-sider>.ant-layout .site-layout-sub-header-background .ant-breadcrumb span{
  color: #5093E1;
  font: 400 14px 'Roboto', sans-serif;
  line-height: 14px;
  padding-top: 22px;
  cursor: pointer;
}
.ant-layout.ant-layout-has-sider>.ant-layout .site-layout-sub-header-background .ant-breadcrumb{
  padding-left: 22px;
}
/* menu line */
.styleSidebar .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #fff;
}
.styleSidebar .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected .ant-menu-item-icon{
  color:#1890ff;
}
.styleSidebar nav .ant-menu-inline .ant-menu-item::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border-right: 3px solid #1890ff;
  transform: scaleY(0.0001);
  opacity: 0;
  transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  content: '';
}
.styleSidebar nav .ant-menu-inline .ant-menu-item-selected:before, .styleSidebar nav .ant-menu-inline .ant-menu-selected:before {
  transform: scaleY(1);
  opacity: 1;
  transition: transform .15s cubic-bezier(.645,.045,.355,1),opacity .15s cubic-bezier(.645,.045,.355,1);
}
.ant-menu-vertical.ant-menu-sub:not([class*='-active']){
  display: flex;
  flex-direction: row;
}
.section-top-content{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.section-top-content .ant-menu-inline {
  width: 100%;
  display: flex;
}
.section-top-content .ant-menu-inline-collapsed {
  display: none;
}
.ant-dropdown-link.styleBtn{
  margin-bottom: -1px;
  padding: 24px 22px;
  height: auto;
}
.wrap-dropdown-filter .ant-form.form-filter{
  position: absolute;
  width: 100%;
  top: 52px;
}
.wrap-dropdown-filter .ant-form.form-filter,
.wrap-dropdown-filter .ant-menu{
  background: #CDDAEA;
  box-shadow: 0px 2px 8px 0px #00000126;
  border-radius: 8px;
}
.wrap-dropdown-filter .ant-menu{
  border: 1px solid #CDDAEA;
}
.section-top-content{
  position: relative;
}
.section-top-content .ant-menu-item{
  display: flex;
  flex-basis: 33.333%;
}
.section-top-content .ant-menu-inline > .ant-menu-item{
  height: auto;
}
.section-top-content .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: transparent;
}
.section-top-content .item-filter{
  flex-basis: 100%;
}
.section-top-content .item-filter li{
  flex-basis: 45%;
  display: flex;
  justify-content: space-between;
}
.childContainer {
  background: #CDDAEA;
  box-shadow: 0px 2px 8px 0px #00000126;
  border-radius: 8px;
}
.childContainer.hidden {
  display: none;
  background: #CDDAEA;
}
.childContainer .ant-form.form-filter{
  display: flex;
  flex-direction: row;
  z-index: 99999;
  color: #7C869C;
  font: 700 15px 'Roboto', sans-serif;
  line-height: 18px;
  padding: 20px;
}
.form-filter .input-filter-colum .ant-form-item-control-input-content{
  display: flex;
}
.form-filter .ant-row.ant-form-item{
  display: flex;
  flex-direction: column;
  flex-basis: 33.333%;
  padding-right: 22px;
}
.categoriesChecbox{
  width: 74%;
  position: absolute;
  right: 0px;
}
.wrapper-filter{
  flex-basis: 100%;
}
.form-filter .ant-space-vertical{
	display: flex;
	flex-direction: row;
}
.form-filter .input-filter-colum .ant-form-item-control-input-content{
	display: flex;
	flex-direction: column;
}
.form-filter .input-row-filter .ant-form-item-control-input-content {
  flex-direction: row;
}

.form-filter .ant-form-item-control-input-content .currency-filter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.form-colum{
  display: flex;
}
.childContainer .form-filter-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 10px 0px;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.form-colum{
  margin: 10px 20px;
  flex: 3;
  display: flex;
  flex-direction: column;
}
.form-colum .form-filter-item{
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
  color: #7C869C;
  font: 700 15px 'Roboto', sans-serif;
  line-height: 18px;
  width: 50%;
}
.form-colum-small .form-filter-item{
  width: 30%;
}
.form-filter-info{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.form-filter-item input,
.form-filter-item .ant-select:not(.ant-select-customize-input) .ant-select-selector{
  border-radius: 5px;
  height: 32px;
  margin-top: 5px;
  margin-bottom: 22px;
}
.form-filter-item input{
  width: 230px;
}
.form-filter-item .ant-picker{
  border-radius: 5px;
  height: 32px;
  margin-top: 5px;
  margin-bottom: 22px;
}
.form-filter-item .ant-picker-input input{
  padding-top: 14px;
  color: #7C869C;
}
.form-filter-item .ant-select-arrow {
  top: 39%;
}
.form-filter-item .ant-select-selection-item{
  color: #7C869C;
  font: 400 15px 'Roboto', sans-serif;
}

.form-filter-item  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  background-color: #CDDAEA !important;
  border: 2px solid #E2E7ED;
  border-radius: 5px;
}
.form-filter-item.form-filter-item-small .ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
  width: 80px;
}
.form-filter-item .ant-select.form-item-small-select {
  width: 71px;
  margin: 0px;
  margin-top: -14px;
  height: 33px;
  right: -38px;
}
.form-filter-item.form-filter-item-small .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  border: none;
}
.form-colum-small .form-filter-item input{
  width: 76%;
  padding: 0px 10px;
}
.form-filter-item-small .ant-select-arrow{
  margin-top: 0px;
}
.categoriesAll .ant-checkbox-indeterminate .ant-checkbox-inner::after {
  background-color: #FFF;
}
.filter-block{
  display: flex;
  width: 100%;
}
.wrap-btn-filter{
  margin: 0px 30px;
}
.ant-btn.btn,
.styleBtn{
  justify-content: center;
  color: #5093E1;
  font: 700 18px 'Roboto', sans-serif;
  line-height: 18px;
  height: 50px;
  width: 172px;
  cursor: pointer;
}
.styleBtn span{
  margin: 0 auto;
}
.wrapper-filter .childContainer{
  position: relative;
}
.wrap-btn-filter{
  display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.ant-btn.blue-btn{
  color: #fff;
  font: 700 18px 'Roboto', sans-serif;
  width: 230px;
  height: 50px;
  border-radius: 10px;
}
.ant-select-selector:focus,
.ant-select-selector:hover{
  display: none;
}
.general-bnt-style{
  margin-bottom: 16px;
} 
.general-style-content{
  margin: 24px 16px 0;
}
.site-layout-background{
  padding: 24px;
  min-height: 360px;
}
.site-layout-sub-header-background{
  padding: 0px;
}
.general-select-style{
  width: 100%;
}
.general-style-input{
  width: 100px;
}
.general-style-select{
  width: 80;
  margin: 0px  8px;
}
.styleContent{
  margin: "24px 16px 0"
}

