.header{
    font: 700 32px 'Roboto', sans-serif;
    line-height: 38px;
    letter-spacing: -0.2px;
    color: #4E5361;
    margin-top: 50px;
}
.section-top .header{
    margin-top: 0px;
}
@media screen and (max-width: 1280px){
    .header {
        font: 700 30px 'Roboto', sans-serif;
    }
}

@media screen and (max-width: 1160px){
    .header{
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1040px){
    .header {
        font: 700 28px 'Roboto', sans-serif;
    }
}

@media screen and (max-width: 991px){
    .header {
        font: 700 26px 'Roboto', sans-serif;
        margin-top: 20px;
    }
}

@media screen and (max-width: 680px){
    .header {
        font: 700 22px 'Roboto', sans-serif;
    }
}

@media screen and (min-width: 375px){
    .header {
        margin-bottom: 14px;
    }
   
}

@media screen and (max-width: 480px){
    .header {
        margin-bottom: 10px;
        font: 700 18px 'Roboto', sans-serif;
    }
}