@media screen and (max-width: 1680px){
    .form-filter-item .ant-select.form-item-small-select {
        right: -24px;
    }
    .ant-picker-active-bar,
    .ant-picker-range-separator{
        display: none;
    }
}
@media screen and (max-width: 1280px){
    .header {
        font: 700 30px 'Roboto', sans-serif;
    }
    .form-style form .form-row {
        width: 100%;
    }
    .ant-picker-panel-container,
    .ant-picker-panel-container .ant-picker-panel{
        width: 95%;
    }
    .ant-picker-header {
        width: 90%;
    }
    .ant-picker-panel .ant-picker-date-panel .ant-picker-body {
        padding: 8px 2px;
    }
    .ant-picker-panel .ant-picker-date-panel{
        width: 270px;
    }
    .form-filter-item .ant-select.form-item-small-select {
        right: 0px;
    }
    .form-button .form-button-submit {
        max-width: 200px;
        width: 23%;
        height: 48px;
    }
    .ant-btn.blue-btn {
        width: 200px;
        height: 48px;
    }
    .ant-btn.btn, .styleBtn {
        height: 48px;
    }
    .categoriesChecbox { 
        padding: 12px 24px;
    }
    .form-colum {
        margin: 10px 10px;
        flex: auto;
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    .categoriesItem label {
        padding-left: 12px;
    }
    .categoriesAll {
        margin-right: 75px;
    }
    .ant-picker-panel-container .ant-picker-panels {
        overflow: scroll;
        width: 230px;
    }
}
@media screen and (max-width: 1160px){
    .form-colum .form-filter-item input,.form-filter-item .ant-picker {
        width: 170px;
    }
    .ant-picker-range .ant-picker-suffix {
        margin-left: -11px;
    }
    .form-colum {
        width: 40%;
    }
    .form-colum .form-filter-item {
        font: 700 13px 'Roboto', sans-serif;
    }
    .form-filter-item .ant-select-selection-item {
        font: 400 13px 'Roboto', sans-serif;
    }
    .form-colum-small .form-filter-item input {
        width: 87px;
    }
    .form-filter-item .ant-select.form-item-small-select {
        margin-top: -16px;
        height: 32px;
        right: -38px;
    }
    .form-filter-item .ant-select.form-item-small-select {
        right: -24px;
    }
    .header{
        margin-bottom: 20px;
    }
    .ant-btn.blue-btn,
    .ant-btn.btn, .styleBtn,
    .form-button .form-button-submit {
        width: 172px;
        height: 46px;
    }
    .wrap-btn-filter {
        width: 100%;
        padding: 0px 20px;
    }
    .wrap-btn-filter {
        margin: 0;
    }
    .ant-picker-panel-container .ant-picker-panels,
    .ant-picker-month-panel{
        width: 240px !important;
        overflow-x: scroll!important;
    }
    .form-colum .form-filter-item .ant-picker-range input {
        width: 56px;
    }
    .categoriesItem label {
        padding-left: 10px;
    }
    .categoriesChecbox {
        font: 700 16px 'Roboto', sans-serif;
    }
}
@media screen and (max-width: 1040px){
    .filter-block{
        display: flex;
        flex-wrap: wrap;
        flex-basis: 100%;

    }
    .form-colum-small .form-filter-item {
        width: 23%;
    }
    .ant-btn.blue-btn, 
    .ant-btn.btn, 
    .styleBtn, 
    .form-button .form-button-submit {
        width: 150px;
        height: 40px;
    }
    .categoriesChecbox {
        padding: 9px 24px;
    }
    .header {
        font: 700 28px 'Roboto', sans-serif;
    }
}
@media screen and (max-width: 991px){
    .styleSidebar {
        height: 0px;
    }
    .form-colum-small{
        margin-top: -10px;
    }
    .form-filter-item .ant-select.form-item-small-select {
        right: 11px;
    }
    .form-row .ant-select-selection-item {
        font: 500 11px 'Roboto', sans-serif;
    }
    .categoriesChecbox {
        font: 700 14px 'Roboto', sans-serif;
    }
    .ant-checkbox-group span, .ant-checkbox-wrapper span {
        font: 400 12px 'Roboto', sans-serif;
    }
    .ant-checkbox-group-item .ant-checkbox + span {
        padding-right: 0px;
        padding-left: 4px;
    }
    .categoriesAll {
        margin-right: 0px;
    }
    .categories-text {
        margin-right: 14px;
    }
    .styleBtn,
    .ant-btn.blue-btn, 
    .ant-btn.btn, 
    .styleBtn, 
    .form-button .form-button-submit,
    .styleBtn span {
        font: 700 16px 'Roboto', sans-serif;
    }
    nav .ant-menu .ant-menu-item .ant-menu-item-icon {
        font-size: 26px;
    }
    aside.styleSidebar {
        flex: 0 0 70px !important;
        max-width: 70px !important;
        min-width: 70px !important;
        width: 70px !important;
    }
    .styleSidebar .ant-layout-sider-zero-width-trigger {
        top: 39px;
        right: -31px;
        width: 30px;
        height: 30px;
        color: #fff;
        line-height: 32px;
    }

    .styleSidebar .ant-layout-sider-zero-width-trigger {
        top: 8px;
        right: 11px;
        width: 30px;
        height: 30px;
        background-color: #5093E1;
    }

    .ant-layout.ant-layout-has-sider>.ant-layout .site-layout-sub-header-background .ant-breadcrumb {
        padding-left: 40px;
    }
    .styleSidebar .ant-layout-sider-zero-width-trigger {
        top: 9px;
        right: -32px;
    }   
    .ant-layout.ant-layout-has-sider > .ant-layout{
        margin-right: 12px;
        /* margin-left: -37px; */
    }
    .ant-layout.ant-layout-has-sider > .ant-layout {
        margin: 0px  8px;
    }  
}
@media screen and (max-width: 860px){
    .form-colum-small .form-filter-item {
        width: 25%;
    }
    .form-colum {
        width: 100%;
    }
    .form-colum {
        flex: 1;
    }
    .form-row .ant-form-item-label label, .form-row .tag-form .label-tag {
        font: 500 14px 'Roboto', sans-serif;
    }
}