@media screen and (max-width: 768px){
    .section-top-content{
        display: flex;
        flex-direction: column-reverse;
    }
    .wrapper-filter{
        margin-bottom: 50px;
    }
    .categoriesChecbox{
        width: 100%;
    }
    .form-colum-small .form-filter-item {
        width: 170px;
    }
    .form-colum .form-filter-item {
        font: 700 12px 'Roboto', sans-serif;
    }

}
@media screen and (max-width: 720px){
    .filter-block .form-colum .form-filter-item {
        width: 100%;
    }
    .filter-block .form-colum .form-filter-item input, 
    .filter-block .form-filter-item .ant-picker {
        max-width: 230px;
    }
    .form-colum-small {
        margin-top: 8px;
    }
    .exchange {
        width: 100%;
    }
    .form-style form .ant-form-item {
        width: 50%;
    }
    .form-style form .form-row {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .tag-form {
        width: 50%;
    }
    /* .filter-block .form-colum .form-filter-item input{
        max-width: 256px;
        min-width: 256px;
    }
    .ant-picker.ant-picker-range{
        width: 100%;
    } */
    .form-colum {
        flex: auto;
    }
    .filter-block .form-colum .form-filter-item input{
        width: 100%;
        max-width: 100%;
    }
    .filter-block .form-filter-item .ant-picker {
        max-width: 100%;
        width: 100%;
    }
    .header {
        font: 700 26px 'Roboto', sans-serif;
    }
}
@media screen and (max-width: 680px){
    .header {
        font: 700 24px 'Roboto', sans-serif;
    }
    .ant-btn.blue-btn, .ant-btn.btn, .styleBtn, .form-button .form-button-submit {
        width: 130px;
        height: 34px;
    }
    .styleBtn, .ant-btn.blue-btn, 
    .ant-btn.btn, .styleBtn, 
    .form-button .form-button-submit, .styleBtn span {
        font: 700 14px 'Roboto', sans-serif;
    }
    .result {
        font: 700 15px 'Roboto', sans-serif;
    }
    .form-style form .form-button .ant-form-item {
        width: 100%;
    }
    .form-row .ant-form-item-label label, .form-row .tag-form .label-tag {
        font: 500 13px 'Roboto', sans-serif;
    }
    .form-row #date-picker, .form-row .ant-input, .form-row .ant-select-selector,
    .form-row .ant-form-text {
        font: 500 12px 'Roboto', sans-serif;
    }
    .exchange .input-txt-currency label {
        font: 700 15px 'Roboto', sans-serif;
    }
}
@media screen and (max-width: 580px){
    .wrap-btn-filter{
        display: flex;
        flex-direction: column;
    }
    .wrap-btn-filter div:first-of-type{
        margin-bottom: 20px;
    }
    .categoriesItem label {
        padding-left: 0px;
    }
    .categoriesChecbox {
        bottom: -13px;
    }
}
@media screen and (max-width: 480px){
    .ant-layout .site-layout-background{
        padding: 0px !important;
    }
    nav .ant-menu .ant-menu-item .ant-menu-item-icon {
        font-size: 20px;
    }
    aside.styleSidebar {
        flex: 0 0 50px !important;
        max-width: 50px !important;
        min-width: 50px !important;
        width: 50px !important;
    }
    .ant-menu-item.ant-menu-item-only-child {
        padding-left: 15px !important;
    }
    .header {
        font: 700 20px 'Roboto', sans-serif;
    }
    .form-filter-info{
        display: flex;
        flex-wrap: wrap;
        flex-direction:row;
    }
    .form-filter-item .ant-select-selection-item {
        font: 400 12px 'Roboto', sans-serif;
    }
     .form-filter-item.form-filter-item-small .ant-select:not(.ant-select-customize-input) .ant-select-selector{
        height: 30px;
    }
}
@media screen and (max-width: 375px){
    .wrap-btn-filter div:last-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 .wrap-btn-filter div:first-of-type,
 .ant-btn.blue-btn,
 .categoriesItem {
    margin-bottom: 5px;
}
.white-btn,
.ant-btn.blue-btn{
    margin-top: 5px;
}
.filter-block {
    margin-bottom: 20px;
}
.categoriesChecbox{
    display: flex;
    flex-direction: column;
    bottom: -38px;
}
.section-top {
    padding-bottom: 55px;
}
.form-style form .form-row {
    flex-direction: column;
}
.form-style form .ant-form-item,
.tag-form ,
.form-textarea{
    width: 100%;
}
.form-style form .ant-form-item,
.tag-form {
    padding-right: 0px;
}
.form-button .ant-form-item-control-input-content {
    align-items: center;
    display: flex;
}
.ant-form-item-control-input-content{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.ant-form-item-control-input-content button{
    margin-top: 10px;
}
.form-style form .form-row:first-of-type{
    margin-bottom: 20px;
}
.result {
    margin-left: 0px;
}
.caption-change {
    font: 700 18px 'Roboto', sans-serif;
}
.ant-form-item-control-input-content{
    align-items: flex-start;
}

.exchange .input-txt-currency label {
    font: 700 13px 'Roboto', sans-serif;
}
.exchange .input-grop {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-top-content{
    margin-bottom: 30px;
}
.categoriesChecbox {
    bottom: -60px;
}
.categoriesChecbox .ant-checkbox-group{
    display: flex;
    margin-top: 5px;
}
}
@media screen and (min-width: 320px){
 
   
}
